<section class="content loginPage">
  <div class="page">
    <img src="" alt="Solutions.io"/>

    <section class="loginForm">
      <div mid-notification></div>
      <div class="loginFormWrap">

        <form novalidate>
          <div class="login">

            <div class="input-prepend">
              <input ng-model="username" required type="text" placeholder="Username" autofocus>
              <span class="add-on">
                <i class="fa fa-user fa-1g txtColor"></i>
              </span>
            </div>

            <div class="input-prepend">
              <input id="password" ng-model="password" required type="password" placeholder="Password">
              <span class="add-on">
                <i class="fa fa-key fa-1g txtColor"></i>
              </span>
            </div>

            <input type="submit" class="btn" value="Sign in"/>

            <div class="forgotPass">
              <a ng-click="">Forgot Password</a>
              <img src="public/images/question.png">
            </div>

          </div>
        </form>

      </div>

    </section>

  </div>
</section>